body {
  margin-left: 4em;
  margin-right: 4em;
  background-color: #c4cad0;
}
p {
  text-align: justify;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(2, 2, 39);
  line-height: 2.2;
}
h1 {
  color: #4b233e;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px 1px rgb(2, 31, 2);
  text-align: center;
  font-size: 3em;
}
img {
  border-radius: 5px;
  border: 2px solid rgb(103, 107, 107);
  box-shadow: 5px 5px 10px rgb(114, 112, 112);
}
h2 {
  color: #bd7040;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.2em;
  text-decoration: underline;
}
